.navbar-container{
	font-size: 20px;
}

div.center {
    margin: 0 auto;
    text-align: center;
}

.profile-image{
	width: 400px;
	height: 400px;
}

.section-text-color{
	color: white;
}

.paragraph-text{
	font-size: 20px;
}

ul.hobbies{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.hobbies > li{
	display: inline;
	padding: 20px;
}

.img-hobbies {
	width: 150px;
	height: 150px;
}

.table-td-strong{
	font-weight: bold;
	font-size: 25px;
}

.cursor-pointer{
	cursor: pointer;
}

.table-tr-hide{
	display:none;
}

.table-tr-show{
	display:inline;
}

.back-image {
    background-image: url(../images/back.jpg);
    background-position: center;
    background-size: cover;
	color: black;
	background-image: no-repeat;
}

body{
	margin-top: 100px;
}

.container-padding-top{
	padding-top: 50px;
}

.footer{
	background-color: #333;
	font-size: 20px;
	margin-top:100px;
}

footer div{
	position: relative;
	top: -22px;
}

.li-margin{
	margin: 39px;
	font-size: 20px;
}